@tailwind base;
@tailwind components;
@tailwind utilities;

/* .triangle {
  @apply after:absolute after:bottom-0 after:right-0 after:border-solid after:border-t-[20px] after:border-r-[20px] after:border-t-[#ECE28C] after:border-r-transparent;
} */

body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: orange; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: blue; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid orange; /* padding вокруг плашки */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow {
  --background: #e2e8f0;
  --panel-background: #f8fafc;
  --panel-shadow: 0 0 4px 0 rgb(0 0 0 / 0.2);
  --text: #0a0a0a;

  background-color: var(--background);
}

.react-flow.dark {
  --background: #0f172a;
  --panel-background: #1e293b;
  /* --panel-shadow: 0 0 8px 0 rgb(0 0 0 / 0.4); */
  /* --text: #fafafa; */
}

.react-flow__panel,
.react-flow__node-toolbar {
  /* background-color: var(--panel-background); */
  box-shadow: var(--panel-shadow);
  border-radius: 5px;
  /* padding: 5px; */
}

.react-flow svg {
  display: block;
}

.react-flow__minimap-mask {
  fill: var(--background);
  fill-opacity: 0.85;
}

.react-flow__node-toolbar {
  display: flex;
  gap: 8px;
}

.react-flow__controls-button,
.react-flow__controls-button:hover {
  background: var(--panel-background);
  border-bottom: none;
}

.react-flow__controls-button > svg {
  fill: var(--text);
}

.react-flow__handle {
  opacity: 0;
  z-index: 10;
}

.react-flow__node.selected .react-flow__handle {
  opacity: 1;
}

.react-flow__handle,
.react-flow__resize-control.handle {
  border: 1px solid var(--background);
}

.sidebar-label {
  color: var(--text);
  font-size: 12px;
  margin-bottom: 4px;
  user-select: none;
}

.sidebar-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.sidebar-item {
  opacity: 0.5;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.sidebar-item > svg {
  stroke: var(--text);
}

.sidebar-item:hover {
  opacity: 1;
  background-color: var(--background);
}

.sidebar-item-drag-image {
  transform: translate(0, 0);
  position: absolute;
  top: -100000px;
  left: -1000000px;
}

.color-swatch {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--panel-background);
  cursor: pointer;
}

.color-swatch.active {
  outline: 2px solid var(--text);
}

.node-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--text);
}

.node-label::placeholder {
  color: var(--text);
  opacity: 0.5;
}
